html, body
{
    width: 100%;
    height: 100%;
}

#aside /*Menu lateral*/
{
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    background-color: #063f1c;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#aside .profile img /*foto pessoal*/
{
    margin: 15px auto;
    display: block;
    width: 120px;
}

#aside .profile h1 /*Nome abaixo da foto pessoal*/
{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.nav-menu /*Para o nav-menu ficar alinhado*/
{
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus /*Para deixar os textoscom suas respectivas cores e tamanhos*/
{
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i /*Para deixar os icones com suas respectivas cores e tamanhos*/
{
    font-size: 24px;
    padding-right: 0.8rem;
    color: #fff;
}

.nav-menu a:hover
{
    color: #fff;
}

i.menu-mobile
{
    position: fixed;
    color: #fff;
    background-color: #063f1c;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active
{
    overflow: hidden;
}

.menu-nav-active #aside
{
    left: 0;
}

.canto{
    display: flex;
}
@media (max-width: 1024px)
{
    #aside
    {
        left: -300;
    }
    i.menu-mobile
    {
        display: flex;
    }
    section#inicio h2
    {
        font-size: 3rem;
    }
    section#inicio span#subtitle
    {
        margin-left: 0;
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
    #main
    {
        margin-left: 0;
    }
    section#opcoes
    {
        display: none;
    }
    section .canto
    {
        display: none;
    }
    .fundo_fila_celular
    {
        display: flex;
    }
    .fundo_fila
    {
        display: none;
    }

}

section#cabecalho
{
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid;
    background-color:rgb(95, 228, 115);
}

.logo
{
    scale: 100%;
    transition: all 0.3s ease-out;
}
.logo:hover
{
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.cantologo
{
    width: 33%;
    height: 100%;
}

.btn 
{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px .2px #00000035;
    box-shadow: 1px 1px 5px .2px #00000035;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-delay: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
  }
  
  .btn:hover 
  {
    width: 150px;
    transition-delay: .2s;
    background-color: #fff;
  }
  
  .btn:hover > .paragraph 
  {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
  }
  
  .btn:hover > .icon-wrapper .icon 
  {
    transform: scale(1.1);
  }
  
  .paragraph 
  {
    color: black;
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    margin-right: 20px;
    padding-left: 20px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    font-weight: bold;
    text-transform: uppercase;
  }

  .icon-wrapper 
  {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon 
  {
    transform: scale(.9);
    transition: .2s linear;
  }
  
  .icon path 
  {
    stroke: #000;
    stroke-width: 2px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }

  .opcoes
  {
    height: 5vh;
    background-color:rgb(175, 247, 185);
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
  }

  .nome
  {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100%;
  }

  .fotologo
  {
    scale: 20%;
    position: absolute;
    margin-left: 151px;
  }

 .slideshow-container {
  min-width: 100%;
  position: relative;
  margin: 0;
}

.mySlides {
  display: none;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation: fade forwards 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fundo_fila_celular
{
    display: none;
}